{% load static %}
{% load humanize %}

<div class="container">
    <div id="commentsContainer">
        {% for comment in post.comments.all|slice:"3" %}
        <div class="comment-container">
            <div class="comment-content">
                <h5 >
                    <strong >
                        <a href="{% url 'blog:profile' comment.author.username %}" >
                            <span class="text-gray-300">{{ comment.author }}</span>
                        </a>
                    </strong>
                    <span class="text-muted text-gray-200">
                        commented on {{ comment.created_at }}
                    </span>
                </h5>
                <p class="text-gray-100">{{ comment.content }}</p>
                <!-- Edit and Delete buttons -->
            {% if user.is_authenticated and user == comment.author %}
                <div class="edit-delete-buttons">
                    <a 
                        href="{% url 'blog:update_comment' post.id comment.id %}" 
                        class="
                            text-gray-200
                            text-sm
                            mr-4
                            hover:text-gray-400"
                    >
                        Edit
                    </a>
                    
                    
                    </a>
                    <a 
                        href="{% url 'blog:delete_comment' post.id comment.id %}" 
                        class="
                            text-red-300
                            text-sm
                            hover:text-red-600
                            
                            "
                        >
                        Delete
                    </a>
                    </a>
                </div>
        {% endif %}
            
        </div>
        <!-- Reply form -->
        {% if user.is_authenticated %}
            <div class="reply-form">
                <form method="post" action="{% url 'blog:create_comment' post.id %}">
                    {% csrf_token %}
                    <textarea 
                        class="rounded-xl" 
                        name="comment" 
                        placeholder="Your reply..."
                        >
                    </textarea>
                    <!-- Hidden input for parent_id -->
                    <input type="hidden" name="parent_id" value="{{ comment.id }}">
                    <button 
                        type="submit" 
                        class="
                            text-blue-200
                            hover:text-green-400
                            shadow-xl
                            "
                        >
                        Reply
                    </button>
                </form>
            </div>
        {% endif %}
        <!-- Recursively display replies -->
        {% with comment.replies.all as replies %}
            {% if replies %}
                {% for reply in replies %}
                    <div class="reply-container">
                        <div class="reply-content">
                            <p>
                                Reply from: 
                               <strong>
                                    <a href="{% url 'blog:profile' comment.author.username %}"
                                    >
                                        {{ comment.author }}
                                    </a>
                                </strong> 
                                    - {{ reply.content }}
                            </p>
                            <!-- Optionally, allow replying to replies -->
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </div>
        
        </script>
    
    {% empty %}
    <p>No comments yet</p>
    {% endfor %}

  </div>
</div>

       
