{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://unpkg.com/htmx.org@1.9.12"
      integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
    <title>Blog</title>
  </head>
  <body>
    
       <!-- Navbar -->
    {% include 'blog/navbar.html' %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="container mx-auto px-2 py-4">
      <p class="text-3xl mb-4">
        Something went wrong. Please try again.
      </p>
    </div>
  {% else %}
    <div class="container mx-auto px-2 py-4">
      <p class="text-3xl mb-4">
        You have successfully logged out.
      </p>
    </div>
  {% endif %}
{% endblock %}