{% load static %}
<section>
    <div x-data="{ isOpen: false }">
        <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 dark:bg-gray-900">
            <div class="container flex flex-wrap items-center justify-between mx-auto">
                <a href="{% url 'blog:index' %}" class="flex items-center">
                    <li>
                        <a href="{% url 'blog:index' %}" class="flex items-center self-start">
                            <span 
                                class="self-center text-xl font-semibold whitespace-nowrap 
                                dark:text-white"
                            >
                                Blogspace
                            </span>
                        </a>
                        <div class="hidden md:flex space-x-4">
                            {% if user.is_authenticated %}
                            <a 
                                href="{% url 'blog:my_posts' %}" 
                                class="block px-4 py-2 text-sm text-gray-700 
                                  hover:bg-gray-100 hover:text-gray-900 
                                  dark:text-gray-200 dark:hover:bg-gray-700 
                                  dark:hover:text-gray-100" 
                                role="menuitem"
                            >
                                My Blogs
                            </a>
                            <a 
                                href="{% url 'blog:create_blog_post' %}" 
                                class="block px-4 py-2 text-sm text-gray-700 
                                  hover:bg-gray-100 hover:text-gray-900 
                                  dark:text-gray-200 dark:hover:bg-gray-700 
                                  dark:hover:text-gray-100" 
                                role="menuitem"
                            >
                                Post Blog
                            </a>
                            <!-- link to user profile -->
                            <a 
                                href="{% url 'blog:profile' user.username %}"
                                class="block px-4 py-2 text-sm text-gray-700 
                                  hover:bg-gray-100 hover:text-gray-900 
                                  dark:text-gray-200 dark:hover:bg-gray-700 
                                  dark:hover:text-gray-100" 
                                role="menuitem"
                            >
                                Profile
                            </a>
                            <a 
                                href="{% url 'blog:logout' %}" 
                                class="block px-4 py-2 text-sm text-gray-700 
                                  hover:bg-gray-100 hover:text-gray-900 dark:text-gray-200 
                                  dark:hover:bg-gray-700 dark:hover:text-gray-100" 
                                role="menuitem"
                            >
                                Logout
                            </a>
                            {% else %}
                            <a 
                                href="{% url 'blog:register' %}" 
                                class="block px-4 py-2 text-sm text-gray-700 
                                  hover:bg-gray-100 hover:text-gray-900 dark:text-gray-200 
                                  dark:hover:bg-gray-700 dark:hover:text-gray-100" 
                                role="menuitem"
                            >
                                Register
                            </a>
                            <a 
                                href="{% url 'blog:login' %}" 
                                class="block px-4 py-2 text-sm text-gray-700 
                                  hover:bg-gray-100 hover:text-gray-900 dark:text-gray-200 
                                  dark:hover:bg-gray-700 dark:hover:text-gray-100" 
                                role="menuitem"
                            >
                                Login
                            </a>
                            {% endif %}
                        </div>
                    </li>
                </a>

                <!-- Dropdown Toggle Button -->
                <button 
                    @click="isOpen = !isOpen" 
                    class="md:hidden inline-flex 
                      items-center p-2 ml-3 text-sm text-gray-500 rounded-lg 
                      hover:bg-gray-100 
                      focus:outline-none 
                      focus:ring-2 
                      focus:ring-gray-200 
                      dark:text-gray-400 
                      dark:hover:bg-gray-700 
                      dark:focus:ring-gray-600"
                    aria-controls="navbar-default" 
                    aria-expanded="false"
                >
                    <span class="sr-only">Open main menu</span>
                    <!-- SVG icon for the button -->
                    <svg 
                        class="w-6 h-6" 
                        fill="currentColor" 
                        viewBox="0 0 20 20" 
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path 
                            fill-rule="evenodd" 
                            d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" 
                            clip-rule="evenodd"
                        >
                        </path>
                    </svg>
                </button>

                <!-- Dropdown Menu -->
                <div 
                    id="navbar-default"
                    :class="{ 'block': isOpen, 'hidden': !isOpen }"
                >
                    <ul 
                        class="flex flex-col p-4 mt-4 border 
                          border-gray-100 rounded-lg bg-gray-50 
                          dark:bg-gray-800 
                          dark:border-gray-700"
                    >
                        <li>
                            <a 
                                href="{% url 'blog:index' %}" 
                                class="block px-2 py-1 text-gray-700 
                                  hover:bg-gray-100 
                                  hover:text-gray-900 
                                  dark:text-gray-200 
                                  dark:hover:bg-gray-700 
                                  dark:hover:text-gray-100" 
                                role="menuitem"
                            >
                                Home
                            </a>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <a 
                                href="{% url 'blog:profile' user.username %}" 
                                class="block px-4 py-2 text-sm text-gray-700 
                                  hover:bg-gray-100 hover:text-gray-900 
                                  dark:text-gray-200 
                                  dark:hover:bg-gray-700 
                                  dark:hover:text-gray-100" 
                                role="menuitem"
                            >
                                Profile
                            </a>
                        </li>
                        <li>
                            <a 
                                href="{% url 'blog:my_posts' %}" 
                                class="block px-4 py-2 text-sm text-gray-700 
                                  hover:bg-gray-100 hover:text-gray-900 
                                  dark:text-gray-200 
                                  dark:hover:bg-gray-700 
                                  dark:hover:text-gray-100" 
                                role="menuitem"
                            >
                                My Blogs
                            </a>
                        </li>
                        <li>
                            <a 
                                href="{% url 'blog:create_blog_post' %}" 
                                class="block px-4 py-2 text-sm text-gray-700 
                                  hover:bg-gray-100 hover:text-gray-900 
                                  dark:text-gray-200 
                                  dark:hover:bg-gray-700 
                                  dark:hover:text-gray-100" 
                                role="menuitem"
                            >
                                Post Blog
                            </a>
                        </li>
                        <li>
                            <a 
                                href="{% url 'blog:logout' %}" 
                                class="block px-4 py-2 text-sm text-gray-700 
                                  hover:bg-gray-100 hover:text-gray-900 dark:text-gray-200 
                                  dark:hover:bg-gray-700 dark:hover:text-gray-100" 
                                role="menuitem"
                            >
                                Logout
                            </a>
                        </li>
                        {% else %}
                        <li>
                            <a 
                                href="{% url 'blog:register' %}" 
                                class="block px-4 py-2 text-sm text-gray-700 
                                  hover:bg-gray-100 hover:text-gray-900 dark:text-gray-200 
                                  dark:hover:bg-gray-700 dark:hover:text-gray-100" 
                                role="menuitem"
                            >
                                Register
                            </a>
                        </li>
                        <li>
                            <a 
                                href="{% url 'blog:login' %}" 
                                class="block px-4 py-2 text-sm text-gray-700 
                                  hover:bg-gray-100 hover:text-gray-900 dark:text-gray-200 
                                  dark:hover:bg-gray-700 dark:hover:text-gray-100" 
                                role="menuitem"
                            >
                                Login
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div> 
            </div>
        </nav>
    </div>
</section>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const navbarToggle = document.querySelector('#navbar-default');
    const toggleButton = document.querySelector('.md:hidden');

    function slideToggle(element, duration = 10000) {
        element.style.transitionProperty = 'opacity';
        element.style.opacity = element.style.opacity === '0' ? '1' : '0';
        element.style.transitionDuration = `${duration}ms`;
    }

    toggleButton.addEventListener('click', () => {
        slideToggle(navbarToggle);
    });
});
</script>