{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.12"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.12"
            integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2"
            crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <style>
      .markdown-content {
        white-space: pre-wrap;
        word-wrap: break-word;
        font-family: Arial, sans-serif;
        font-size: 16px;
        line-height: 1.6;
        padding: 1em;
      }
      .markdown-content img {
        max-width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body class="bg-gradient-to-l
            from-gray-200 to-white-500 "
            >
    <!-- Navbar -->
    {% include 'blog/navbar.html' %}
    
    <!-- Picture, title, subtitle, author, and job_title lines -->
    <div class="
      container
      bg-white-400 
      mx-auto 
      px-4 
      py-8">
      <h1 class="text-4xl font-bold mt-2">
        {{ post.title }}
      </h1>
      <p class="text-gray-500">
        {{ post.subtitle }}
      </p>
      By
      <strong>
        <a href="{% url 'blog:profile' post.author.username %}"
          >
          {{ post.author }} - 
        </a>
      </strong>
      {{ post.job_title }}
      <img
        src="{{ post.picture.url }}"
        alt="{{ post.title }}"
        width="1000"
        height="600"
      />
      <p class="text-gray-500">
        {{ post.caption }}
      </p>
      <p class="markdown-content">
        {{ post.content|safe }}
      </p>
      <div class="container flex items-center rounded-xl shadow-xl">
        <div class="container 
          bg-gradient-to-r 
            from-gray-600 to-white-500 
          flex items-center
          rounded-xl
          mx-auto 
          h-full"
          >
          <form method="post" action="{% url 'blog:like_post' post.id %}">
            {% csrf_token %}
            <button 
              type="submit" 
              class="flex items-center
                mt-4
                px-4 py-2 
                text-sm 
                text-gray-700 
                bg-gradient-to-l
                  from-black-800 to-gray-100  
                rounded-xl
                shadow-xl 
                border
                hover:bg-gray-200 
                focus:outline-none 
                focus:ring-2 
                focus:ring-gray-200 
                dark:bg-gray-700 dark:text-gray-200 dark:hover:bg-gray-600 
                dark:focus:ring-gray-600"
              >
                <i class="far fa-thumbs-up"></i>
              <div class="ml-2" >
                <span id="likes-count">
                  {{ post.post_likes.count }}
                </span>
              </div>
            </button>
          </form>
          <form 
              id="dislike-form" 
              action="{% url 'blog:dislike_post' post.id %}" 
              method="POST"
            >
            {% csrf_token %}
          
            <button 
                type="submit" 
                class="
                  px-4 
                  py-2 
                  mt-4
                  text-sm 
                  text-gray-700 
                  bg-gradient-to-l
                      from-black-800 to-gray-100 
                  rounded-xl
                  shadow-xl 
                  border
                  hover:bg-gray-200 
                  focus:outline-none 
                  focus:ring-2 
                  focus:ring-gray-200 
                  dark:bg-gray-700 dark:text-gray-200 
                  dark:hover:bg-gray-600 
                  dark:focus:ring-gray-600"
              >
                <i class="far fa-thumbs-down"></i>
                <span class="ml-2">
                  {{ post.dislikes_count }}
                </span>
            </button>
          </form>
        </div>
      </div> 
    </div>
    <div class="container">
        <h2 class="text-2xl font-bold">
          Latest Comments
        </h2>
      </div>
      
    <div 
      class="
        container 
        bg-gradient-to-r 
          from-gray-800 to-white-500 
        flex items-center
        
        mx-auto
        
        "         
      >

      <div class="container">
      
        {% include 'blog/comments.html' %}

        <div class="container mt-4">
          <form action="{% url 'blog:create_comment' post.id %}" method="POST">
            {% csrf_token %}
            <textarea 
              name="comment" 
              id="comment" 
              cols="30" 
              rows="10" 
              class=" 
                border 
                border-gray-200 
                rounded-xl"
              placeholder="Write your comment here. Remember to be respectful."
            >
            </textarea>
            <button 
              type="submit" 
              class="
                mt-2 
                ml-8
                px-4 
                py-2 
                bg-gray-700 
                text-white 
                rounded-xl
                shadow-xl
                hover:bg-gray-600
                focus:outline-none
                focus:ring-2
                focus:ring-gray-600
                dark:bg-gray-800 
                dark:text-gray-200 
                dark:hover:bg-gray-700 
                dark:focus:ring-gray-700
                size-sm
                "
            >
              Comment
            </button>
          </form>
        </div>
        <div class="flex items-center text-white">
          <a 
            href="{% url 'blog:index' %}" 
          >
            Home
          </a>
        </div>
      {% if post.video == True %}
      <div class="container">
        <video 
          controls 
          width="1000" 
          height="600"
          >
          <source src="{{ post.video.url }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>
      </div>
      
      {% endif %}
      </div>
    </div>
      
    </div>   
  </div>
</div>

      <script>

        // Like and Dislike Form
        document.getElementById('like-form')
        .addEventListener(
          'submit', function(e) {
            e.preventDefault();
            fetch(this.action, {
                method: 'POST',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                body: new FormData(this),
              })
              .then(response => response.json())
              .then(data => document.getElementById('likes-count')
                .innerText = data.likes_count);
        });

        document.getElementById('dislike-form')
        .addEventListener(
          'submit', function(e) {
            e.preventDefault();
            fetch(this.action, {
                method: 'POST',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                body: new FormData(this),
            })
            .then(response => response.json())
            .then(data => document.getElementById('likes-count')
            .innerText = data.likes_count);
        });

      </script>
      <script 
        src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" 
        defer
        >
    </script>
  </body>
</html>
