{% extends 'chat/base.html' %}

{% block content %}
<div class="page-container">
  <div class="content">
    <h1>Your Inbox</h1>
    <a href="{% url 'chat:create_room' %}" class="btn btn-success mb-3">Start New Conversation</a>
    {% if rooms %}
    <ul class="list-group">
      {% for room in rooms %}
      <li class="list-group-item">
        <strong>{{ room.room_name }}</strong>
        <a href="{% url 'chat:room' room.room_name %}" class="btn btn-primary float-right">View</a>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No conversations found. Start a conversation!</p>
    {% endif %}
  </div>
</div>
{% endblock %}
